/__pycache__/*
*.pyc
.DS_Store
/output/*
benchmark_results.txt
bv5_sr.qasm
bv5_temp.qasm
bv5.qasm
experiments_fail.ipynb
cc5.qasm
hardware_tradeoff_high_overhead.csv
.ipynb_checkpoints/experiments-checkpoint.ipynb
.ipynb_checkpoints/QS-experiment-checkpoint.ipynb
.ipynb_checkpoints/testingCaQR-checkpoint.ipynb
.ipynb_checkpoints/experiments_fail-checkpoint.ipynb
devices/test_grid_3x3.json
devices/test_heavy_hex_7.json
devices/test_line_5.json
temp_sweep/input.qasm
devices/test_line_5.json
